.contact-content {
	background: url("../assets/images/Berka.jpg");
	height: 672px;
	/*transition: all ease 1s;*/
	    background-size: contain;
    background-repeat: no-repeat;
    /* transition: all ease 1s; */
    background-color: rgb(109, 119, 128);
}

.form {
	border-radius: 10px;
	padding: 35px;
	border: 1px solid #b0b0b0;
	width: 69%;
	box-shadow: -4px -2px 13px #423e3e;
}

.small-heading {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 14px;
	/*font-family: "source_sans_probold";*/
}

.heading {
	padding-top: 23px;
	padding-bottom: 28px;
}

.form-control {
	border-radius: 0px;
	margin-bottom: 15px;
	background-color: #f7f7f7;
	border: 1px solid #ececec;
	height: 38px;
}

.opret-btn {
	padding: 10px;
	width: 100%;
	border-color: transparent;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2992d6+0,2989d8+50,2992d6+100 */
	background: #2992d6; /* Old browsers */
	background: -moz-linear-gradient(top,  #2992d6 0%, #2989d8 50%, #2992d6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2992d6 0%,#2989d8 50%,#2992d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2992d6 0%,#2989d8 50%,#2992d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2992d6', endColorstr='#2992d6',GradientType=0 ); /* IE6-9 */

}

.btn-primary:hover {
	border-: 1px solid #00b683!important;
	background-color: #fff!important;
}

.checkboxFive {
	width: 25px;
	/*margin: 20px 100px;*/
	position: relative;
	margin-right: 10px;
}

.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: #fff;
	border:1px solid #ddd;
}

.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 5px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.check_box {
	margin-bottom: 15px;
	font-size: 12px;
	color: #8d8c8c;
}

.check_box > span {
	position: relative;
	top: 2px;
}

.form-left > p > .left-title {
	font-weight: bold;
	font-size: 14px;
	color: #5c5c5c;
	font-family: "source_sans_probold";
}

.form-left > p {
	color: #8e8d8f;
}

.bullet:before{
	/*content: "\26AB"*/

}

@media only screen and (max-width : 1004px) {
	.form {
		width: 95%;
	}
}

@media only screen and (max-width : 1000px) {
	.contact-content {
		height: 100%;
		padding-bottom: 100px;
		background-image: none;
		background: url("../assets/images/Berka.jpg");
	}

	.nav {
		display: none;
	}
}

footer {
	    box-shadow: 2px -127px 151px #ffffff;
	    /*http://www.amberweinberg.com/*/
}