.white-bg {
	background-color: white;
}

.no-float {
	float: none;
}

.them-blue-bg {
	background-color: #2992d6;
}

.them-gray-bg {
	background-color: #383f49;
}

.them-green-bg {
	background-color: #00b683;
}

.text-them-gray-col {
	color: #707a7c;
}

.text-white-col {
	color: #fff;
}

.text-dark-col {
	color: #243640;
}

body {
	overflow-x:hidden;
	/*font-family: 'source_sans_proregular';*/
}

.box-center {
	margin-right: auto;
	margin-left: auto;
}

.left-light-border {
	border-right: 1px solid #f0eeee;
}

.no-border-radius {
	border-radius: 0px;
}

.display-block {
	display: block;
}

.to-uppercase {
	text-transform: uppercase;
}

* {
	transition: width ease 0.1s;
}



