header {
	height: 78px;
	border-bottom: 1px solid #fbf5f5;
	padding-top: 20px;
	padding-bottom: 5px;
}

.logo {
	width: 192px;
}

footer {
	height: 250px;
}

.nav > li {
	display: inline-block;
	font-weight: bold;
	transition: all ease 0.4s;
}

.nav > li:hover {
	cursor: pointer;
	border-radius: 5px;
	background-color: #00b683;
}

.nav > li > a {
	text-transform: uppercase;
	color: #243640;
	font-size: 12px;
}

.nav > li > a:hover {
	background-color: transparent;
	color: #fff;
}


@media only screen and (max-width : 1000px) {
	.nav > li {
		display: block;
	}
}